<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</head>
<p>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/add}">Add User</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/role-list}">Role List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
</nav>
<h3 style="text-align: center"><b>User List</b></h3>
<table class="table table-bordred table-striped">
    <tr class="table-warning">
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Round</th>
        <th>Course</th>
        <th>Reg. Date</th>
        <th>Last Modified Date</th>
        <th>Birth Date</th>
        <th>Username</th>
        <th>Password</th>
        <th>Roles Name</th>
        <th>Update</th>
        <th>Delete</th>

    </tr>
    <tr th:each="u:${list}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.name}"></td>
        <td th:text="${u.gender}"></td>
        <td th:text="${u.email}"></td>
        <td th:text="${u.round}"></td>
        <td>
                    <span th:each="c: ${u.course}">
                        <span th:text="${c}"></span>
                    </span>
        </td>
        <td th:text="${u.regiDate}"></td>
        <td th:text="${u.lastModifiedDate}"></td>
        <td th:text="${u.birthDate}" th:pattern="yyyy-MM-dd"></td>
        <td th:text="${u.username}"></td>
        <td th:text="${u.password}"></td>
        <td>
                    <span th:each="cc: ${u.roles}">
                        <span th:text="${cc.roleName}"></span>
                    </span>
        </td>
        <td><a th:href="@{'/edit/' + ${u.id}}">Update</a></td>
        <td><a th:href="@{'/del/' + ${u.id}}">Delete</a></td>
    </tr>
</table>
</body>
</html>