/Class_Work/springmvc3/nbproject/private/
/Class_Work/springmvc3/build/
/VendorPractice/JavaApplication1/nbproject/private/
/VendorPractice/JavaApplication1/build/
/VendorPractice/practice/nbproject/private/
/VendorPractice/practice/build/
/VendorPractice/practice1/nbproject/private/
/VendorPractice/practice1/build/