<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layoutlist.html}">
<head>
    <meta charset="UTF-8">
    <title>Pilgrim List</title>
</head>
<body>
<div class="adminx-main-content" layout:fragment="custom-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="card mb-grid">
                <div class="table-responsive-lg">
                    <table class="table table-actions table-striped table-hover mb-0" data-table>
                        <thead>
                        <tr>
                            <th scope="col">
                                <label class="custom-control custom-checkbox m-0 p-0">
                                    <input type="checkbox" class="custom-control-input table-select-all">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </th>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Gender</th>
                            <th scope="col">NID</th>
                            <th scope="col">Birth Date</th>
                            <th scope="col">Email</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Address</th>
                            <th scope="col">Home District</th>
                            <th scope="col">Passport No</th>
                            <th scope="col">Passport Issue Date</th>
                            <th scope="col">Passport Exp. Date</th>
                            <th scope="col">Reg. Date</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="g : ${list}">
                            <th scope="row">
                                <label class="custom-control custom-checkbox m-0 p-0">
                                    <input type="checkbox" class="custom-control-input table-select-row">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </th>
                            <td th:text="${g.id}"></td>
                            <td th:text="${g.leaderName}"></td>
                            <td th:text="${g.gender}"></td>
                            <td th:text="${g.nid}"></td>
                            <td th:text="${g.birthDate}"></td>
                            <td th:text="${g.email}"></td>
                            <td th:text="${g.mobile}"></td>
                            <td th:text="${g.address}"></td>
                            <td th:text="${g.district}"></td>
                            <td th:text="${g.passportNo}"></td>
                            <td th:text="${g.issuDate}"></td>
                            <td th:text="${g.expDate}"></td>
                            <td th:text="${g.regiDate}"></td>

                            <td>
                                <!--
                                                                <button type="button" class="btn btn-sm btn-primary" th:href="@{'/role/edit/'+${role.id}}">Edit</button>
                                -->
                                <a th:href="@{'/groupleader/edit/'+${g.id}}" class="btn btn-sm btn-primary">Edit</a>
                            </td>
                            <td>
                                <!--<button type="button" class="btn btn-sm btn-danger" th:href="@{'/role/del/'+${role.id}}">Delete</button>-->
                                <a th:href="@{'/groupleader/del/'+${g.id}}" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<!--<th scope="col">Package Id</th>
<th scope="col">Groupleader Name</th>
<th scope="col">NID</th>
<th scope="col">Birth Date</th>
<th scope="col">Mobile</th>
<th scope="col">Email</th>
<th scope="col">Address</th>
<th scope="col">Home District</th>
<th scope="col">Passport No</th>
<th scope="col">Passport Issue Date</th>
<th scope="col">Passport Exp. Date</th>
<th scope="col">Edit</th>
<th scope="col">Delete</th>-->
