<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="employeeBean" class="com.sofiqul54.Employee">
    <property name="name" value="Hello"/>
    <property name="id" value="12345"/>
</bean>

    <bean id="doBeforeMethod"
          class="com.sofiqul54.doBeforeMethod"></bean>

    <bean id="AfterReturningAdvice"
          class="com.sofiqul54.DoAfterReturningMethod"></bean>

    <bean id="simpleServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="employeeBean"/>
        <property name="interceptorNames">
            <list>
                <value>doBeforeMethod</value>
                <value>doBeforeMethod</value>
            </list>
        </property>
    </bean>
</beans>