<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="a2" class="com.sofiqul54.Address">
    <property name="city" value="Dhanmondi"/>
    <property name="state" value="Dhaka"/>
    <property name="country" value="Bangladesh"/>
</bean>
</beans>