<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <style>
        .err {
            color: red;
        }

        .success {
            color: green;
        }
    </style>
</head>
<body>
<!--<span th:text="${exitsMsg}"></span>-->
<!--<span th:text="${success}"></span>-->
<form th:object="${role}" th:action="@{/role/edit-role}+${id}" th:method="POST">
    <a th:href="@{/role-list}">Role List</a>
    <input type="hidden" th:field="*{id}" th:value="${role.id}"/>
    <table>
       <h2>Update Role</h2>
        <tr>
            <td>Name :</td>
            <td><input type="text" th:field="*{roleName}"/></td>
            <td th:class="err" th:if="${#fields.hasErrors('roleName')}" th:errors="*{roleName}">Role Name Error</td>
        </tr>

        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>