<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit </title>
    <style type="text/css">
        .err{
            color: red;
        }
        .succes{
            color:green;
        }
    </style>
</head>
<body>
<<!--span th:class="succes" th:text="${successMsg}"></span>-->
<form action="#" th:action="@{/edit/} + ${id}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}" th:value="${user.id}"/>

    <tr>
        <td>Name:</td>
        <td><input type="text" th:field="*{name}" th:value="${user.name}" /></td>
        <td th:class="err" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
    </tr>
    <tr>
        <td>Age:</td>
        <td><input type="text" th:field="*{age}" th:value="${user.age}" /></td>
        <td th:class="err" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td><input type="email" th:field="*{email}" th:value="${user.email}"/></td>
        <td th:class="err" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
    </tr>
    <tr>
        <td><button type="submit">Submit</button></td>
    </tr>
</form>
</body>
</html>