<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Add Passport | HAMS</title>
    <style>
        #dd{
            border: solid #34ce57;
        }
    </style>
</head>
<body>
<div class="adminx-main-content" layout:fragment="custom-content">
    <div class="row" >
        <div class="col-lg-8">
            <div class="card mb-grid" id="dd">
                <div class="card-header" style="background-color: #34ce57">
                    <div class="card-header-title">Add Passport</div>
                </div>
                <div class="card-body">
                    <span th:class="succes" th:text="${successMsg}"></span>
                    <span th:class="err" th:text="${rejectMsg}"></span>
                    <form th:object="${passportinfo}" th:action="@{/Passport/add}" th:method="POST">

                        <div class="form-group row">
                            <label for="pilgrim" class="col-sm-3 col-form-label form-label" >Pilgrim</label>
                            <div class="col-sm-9">
                                <select th:field="*{pilgrim}"  id="pilgrim" class="form-control js-choice-remove">
                                    <option th:each="p : ${pilgrimlist}"
                                            th:value="${p.id}">
                                        <span th:text="${p.name}"></span>
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="passportNo" class="col-sm-3 col-form-label form-label">Passport No</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" th:field="*{passportNo}" id="passportNo"
                                       placeholder="Passport No">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="issueDate" class="col-sm-3 col-form-label form-label">Passport Issue
                                Date</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" th:field="*{issueDate}" id="issueDate"
                                       placeholder="Passport Issue Date">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="expDate" class="col-sm-3 col-form-label form-label">Passport Exp. Date</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" th:field="*{expDate}" id="expDate"
                                       placeholder="Passport Exp. Date">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="dip" class="col-sm-3 col-form-label form-label">DIP</label>
                            <div class="col-sm-9">
                                <!--<input type="date" class="form-control" th:field="*{expDate}"  id="expDate" placeholder="Passport Exp. Date">-->
                                <select th:field="*{dip}" id="dip">
                                    <option value="Dhaka">Dhaka</option>
                                </select>
                            </div>
                        </div>



                        <div class="form-group row">
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>