<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Edit Pilgrim | HAMS</title>
    <style>
        #dd{
            border: solid #34ce57;
        }
    </style>
</head>
<body>
<div class="adminx-main-content" layout:fragment="custom-content">
    <div class="row">
        <div class="col-lg-9">
            <div class="card mb-grid" id="dd">
                <div class="card-header" style="background-color: #34ce57">
                    <div class="card-header-title">Edit Pilgrim</div>
                </div>
                <div class="card-body">

                    <span th:class="err" th:text="${rejectMsg}"></span>
                    <form th:object="${pilgrim}" th:action="@{/pilgrim/edit/}+${id}" th:method="POST">


                        <div class="form-group row">
                            <label for="ppackage" class="col-sm-3 col-form-label form-label">Package</label>
                            <div class="col-sm-9">
                                <select th:field="*{ppackage}"  id="ppackage" class="form-control js-choice-remove">
                                    <option th:each="pp : ${packagelist}"
                                            th:value="${pp.id}">
                                        <span th:text="${pp.name}"></span>
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="group" class="col-sm-3 col-form-label form-label">Groupleader</label>
                            <div class="col-sm-9">
                                <select th:field="*{groupleader}"  id="group" class="form-control js-choice-remove">
                                    <option th:each="g : ${grouplist}"
                                            th:value="${g.id}">
                                        <span th:text="${g.leaderName}"></span>
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="pilgrimNumber" class="col-sm-3 col-form-label form-label">Pilgrim No</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" th:field="*{pilgrimNumber}" id="pilgrimNumber"
                                       placeholder="Pilgrim Number">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="name" class="col-sm-3 col-form-label form-label">Full Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" th:field="*{name}" id="name"
                                       placeholder="Full Name">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="fatherName" class="col-sm-3 col-form-label form-label">Father Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" th:field="*{fatherName}" id="fatherName"
                                       placeholder="Father Name">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="motherName" class="col-sm-3 col-form-label form-label">Mother Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" th:field="*{motherName}" id="motherName"
                                       placeholder="Mother Name">
                            </div>
                        </div>

                        <fieldset class="form-group">
                            <div class="row">
                                <legend class="col-form-legend col-sm-3 form-label">Gender</legend>
                                <div class="col-sm-9">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="gender" id="Male"
                                                   value="Male" checked th:field="*{gender}"> Male &nbsp&nbsp&nbsp&nbsp
                                            <input class="form-check-input" type="radio" name="gender" id="Female"
                                                   value="Female" th:field="*{gender}"> Female
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <div class="form-group row">
                            <label for="birthDate" class="col-sm-3 col-form-label form-label">Birth Date</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" th:field="*{birthDate}" id="birthDate"
                                       placeholder="Birth Date">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="nid" class="col-sm-3 col-form-label form-label">NID</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" th:field="*{nid}" id="nid"
                                       placeholder="National Idendification Number">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="email" class="col-sm-3 col-form-label form-label">Email</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" th:field="*{email}" id="email"
                                       placeholder="Valid Email">
                            </div>
                        </div>

                        <!--<fieldset class="form-group">
                            <div class="row">
                                <legend class="col-form-legend col-sm-3 form-label">Maritual Status</legend>
                                <div class="col-sm-9">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="maritalStatus" id="Married"
                                                   value="Male" checked th:field="*{maritalStatus}"> Married &nbsp&nbsp&nbsp&nbsp
                                            <input class="form-check-input" type="radio" name="maritalStatus" id="Single"
                                                   value="Single" th:field="*{maritalStatus}"> Single
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>-->

                        <div class="form-group row">
                            <label for="spouseName" class="col-sm-3 col-form-label form-label">Spouse Name  (if married)</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" th:field="*{spouseName}" id="spouseName"
                                       placeholder="Spouse Name">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="occupation" class="col-sm-3 col-form-label form-label">Occupation</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" th:field="*{occupation}" id="occupation"
                                       placeholder="Occupation">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="address" class="col-sm-3 col-form-label form-label">Address</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" th:field="*{address}" id="address"
                                       placeholder="Address">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="district" class="col-sm-3 col-form-label form-label">District</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" th:field="*{district}" id="district"
                                       placeholder="Home District">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="bookingAmount" class="col-sm-3 col-form-label form-label">Booking Amount</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" th:field="*{bookingAmount}" id="bookingAmount"
                                       placeholder="Booking Amount">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="filePath" class="col-sm-3 col-form-label form-label">Photo</label>
                            <div class="col-sm-9">
                                <input type="file" class="form-control" th:field="*{filePath}" id="filePath"
                                       placeholder="Photo">
                            </div>
                        </div>



                        <div class="form-group row">
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>