<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layoutlist.html}">
<head>
    <meta charset="UTF-8">
    <title>Pilgrim List | HAMS</title>
</head>
<body>
<div class="adminx-main-content" layout:fragment="custom-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="card mb-grid">
                <div class="table-responsive-lg">
                    <table class="table table-actions table-striped table-hover mb-0" style="width: 100%" data-table>
                        <thead>
                        <tr>
                            <th scope="col">
                                <label class="custom-control custom-checkbox m-0 p-0">
                                    <input type="checkbox" class="custom-control-input table-select-all">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </th>
                            <th scope="col">Id</th>
                            <th scope="col">Pilgrim No</th>
                            <th scope="col">Pilgrim Name</th>
                            <th scope="col">Father Name</th>
                            <th scope="col">Mother Name</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Birthdate</th>
                            <th scope="col">NID</th>
                            <th scope="col">Email</th>
                           <!-- <th scope="col">Marital Status</th>-->
                            <th scope="col">Spouse Name</th>
                            <th scope="col">Occupation</th>
                            <th scope="col">Address</th>
                            <th scope="col">Home District</th>
                            <th scope="col">Booking Money</th>
                            <th scope="col">Total Amount</th>
                            <th scope="col">Reg. Date</th>
                            <th scope="col">LM. Date</th>
                            <th scope="col">Package Name</th>
                            <th scope="col">GroupLeader</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="pilgrim : ${list}">
                            <th scope="row">
                                <label class="custom-control custom-checkbox m-0 p-0">
                                    <input type="checkbox" class="custom-control-input table-select-row">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </th>
                            <td th:text="${pilgrim.id}"></td>
                            <td th:text="${pilgrim.pilgrimNumber}"></td>
                            <td th:text="${pilgrim.name}"></td>
                            <td th:text="${pilgrim.fatherName}"></td>
                            <td th:text="${pilgrim.motherName}"></td>
                            <td th:text="${pilgrim.gender}"></td>
                            <td th:text="${pilgrim.birthDate}"></td>
                            <td th:text="${pilgrim.nid}"></td>
                            <td th:text="${pilgrim.email}"></td>
                           <!-- <td th:text="${pilgrim.maritalStatus}"></td>-->
                            <td th:text="${pilgrim.spouseName}"></td>
                            <td th:text="${pilgrim.occupation}"></td>
                            <td th:text="${pilgrim.address}"></td>
                            <td th:text="${pilgrim.district}"></td>
                            <td th:text="${pilgrim.bookingAmount}"></td>
                            <td th:text="${pilgrim.tolalAmount}"></td>
                            <td th:text="${pilgrim.regiDate}"></td>
                            <td th:text="${pilgrim.lastModifiedDate}"></td>
                            <td>
                       <span th:each="p : ${pilgrim.ppackage}">
                           <span th:text="${p.name}"></span>
                       </span>
                            </td>
                            <td>
                       <span th:each="g : ${pilgrim.groupleader}">
                           <span th:text="${g.leaderName}"></span>
                       </span>
                            </td>

                            <td>
                                <!--
                                                                <button type="button" class="btn btn-sm btn-primary" th:href="@{'/role/edit/'+${role.id}}">Edit</button>
                                -->
                                <a th:href="@{'/pilgrim/edit/'+${pilgrim.id}}" class="btn btn-sm btn-primary">Edit</a>
                            </td>
                            <td>
                                <!--<button type="button" class="btn btn-sm btn-danger" th:href="@{'/role/del/'+${role.id}}">Delete</button>-->
                                <a th:href="@{'/pilgrim/del/'+${pilgrim.id}}" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<!--<th scope="col">Package Id</th>
<th scope="col">Groupleader Name</th>
<th scope="col">NID</th>
<th scope="col">Birth Date</th>
<th scope="col">Mobile</th>
<th scope="col">Email</th>
<th scope="col">Address</th>
<th scope="col">Home District</th>
<th scope="col">Passport No</th>
<th scope="col">Passport Issue Date</th>
<th scope="col">Passport Exp. Date</th>
<th scope="col">Edit</th>
<th scope="col">Delete</th>-->
